
:root {
    color: var(--fontColor);
    --fontColor: rgb(236, 236, 236);
    --linkColor: var(--mainBlue);
    --bgColor: rgb(22, 22, 27);
    --mainBlue: rgb(0, 119, 181);
    --darkGray: rgb(49, 51, 53);
    --mediumGray: rgb(134, 135, 138);
    --lightGray: rgb(202, 204, 206);
    --accentBlue: rgb(0, 160, 220);
    --accentPurple: rgb(141, 108, 171);
    --accentRed: rgb(221, 81, 67);
    --accentOrange: rgb(230, 133, 35);
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 20px;
    transition: ease-in-out
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
}

section {
    display: grid;
    text-align: center;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: none;
    transform: none;

}

.socials {

    margin-top: 20px;
}

.socials .path {
    height: 2rem;
    width: 2rem;
    fill: white;
    padding: 0 10px 0 10px;
}

.socials .path:hover {
    fill: rgb(230, 133, 35);
    scale: 115%;
    transition: all 1s;
}

@keyframes down-finger {
    0% {opacity: 0;}
    50% {opacity: 0%}
    60% {transform: translateY(9rem);}
    65% {transform: translateY(7rem);}
    70% {transform: translateY(9rem);}
    75% {transform: translateY(7rem);}
    80% {transform: translateY(9rem);}
    85% {transform: translateY(7rem);}
    100% {opacity: 100%;}
}

.down-finger {
    transform: translateY(9rem);
    animation: down-finger 10s;
}

.tech {
    display: flex;
}

.tech .path {
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
}

.tech .path:nth-child(2) {
    transition-delay: 500ms;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-corner {
    background: rgb(22, 22, 27);
}


::-webkit-scrollbar-track {
    background: rgb(22, 22, 27);
}

::-webkit-scrollbar-thumb {
    background: rgb(22, 22, 27);
    border-radius: 20px;
}

